{strip}
	<h3 class="title-section-1 font-weight-bold fs-13 color-black mb-15 text-uppercase">
		{$this->Block->getLocale('tieu_de', $data_extend)}
	</h3>

	{if !empty($data_block.data)}
	    <div class="row">
    	    {foreach from = $data_block.data item = category}
                <div class="col-4">
        	        <p style="font-size: 20px;">
            	        {if !empty($category.name)}
            	            {$category.name}
            	        {/if}
            	    </p>
            	       
        	        {$articles = $this->Article->getArticles([
        	            'filter' => [
        	                'id_categories' => [$category.id],
        	                'limit' => 4
        	            ]
        	        ])}
        	        
        	        {if !empty($articles)}
        	            {foreach from = $articles item = article}
        	                {if !empty($article.name)}
        	                    <p>
        	                        {$article.name}
        	                    </p>
                	        {/if}
        	            {/foreach}
        	        {/if}
    	        </div>
    	    {/foreach}
	    </div>
	{/if}
{/strip}


----- Bộ lọc -------

[
    'filter' => [
        'lang' => null,
        'keyword' => null,
        'status' => null,
        'ids' => null,
        'id_categories' => null,
        'id_brands' => null,
        'featured' => null,
        'discount' => null,
        'stocking' => null,
        'price_from' => null,
        'price_to' => null
    ]
] 
